@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

h1 {
  color :#b67666;
}

button {
  border-radius: 5px;
  color: white;
  background-color: #b67666;
  justify-content: center;
  margin-top: 30px;
  font-size: 20px;

}


form {
  font-size: 20px;
}

input {
  margin: 20px;
  border-radius: 5px;
}

label {
  margin: 20px;
}

textarea {
  margin: 20px;
  border-radius: 5px;
}
