@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

h1 {
  color: #d38181;
  font-size: 30px;
}
table {
  border-collapse: collapse;
  border-radius: 1em;
  overflow: hidden;
  border: 1px solid #b67666;
}

a{
  text-decoration: none;
}
tr {
  text-align: center;
}

td {
  text-align: center;
}

.tabletr {
  background-color: #b67666;
  color: #29292a;
}

button {
  border-radius: 10px;
  font-size: 15px;
  background-color: white;
}

button:hover{
  background-color: #b67666;
  color: white;
}

