.navbar{
  background-color: whitesmoke;
  color: #872e32;
  opacity: 0.7;
}
.openNav{
  background-color: whitesmoke;
  color: #872e32;
  opacity: 0.7;
}

mat-sidenav-container {
  background-color: white !important;
}
