<mat-toolbar class="navbar">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="toggleSidenav()" >swap_horiz</mat-icon>
    </button>
    <h1>Stacktim</h1>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav [opened]="isShowing" class="openNav">
    <mat-nav-list>
      <button mat-icon-button [routerLink]="['/listeCo']"><mat-icon>list</mat-icon></button>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="background-color: white ;height: 88vh">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>
