<router-outlet></router-outlet>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<div class="container" *ngIf="selectedRessource">
  <h1>Ressource <strong> {{selectedRessource.typeressource}} </strong></h1>
  <div class="tab">
    <td style="width: 200px"><strong>Date publication : </strong> {{selectedRessource.datePublication}}</td>
    <td style="width: 250px"><strong>Créateur : </strong>{{selectedRessource.createur}}</td>
    <td style="width: 700px"><strong>Contenu : </strong>{{selectedRessource.contenu}}</td>
  </div>



</div>



